<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-9 rounded-4 bg-light">
      <div class="row">
        <h1 class="pb-3 col-10" style="font-size: 35px" >Host Review</h1>
      </div>

      <div>
        <div class="row pt-3 px-2">

          <div class="col-6 pb-3">
            <select class="form-select" aria-label="Default select example" (change)="hostChange($event)">
              <ng-container *ngFor="let h of hosts">
                <option [value]="h.id" >{{h.name}} {{h.surname}}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-6 pb-3">
            <select class="form-select" aria-label="Default select example" (change)="gradeChange($event)">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
            </select>
          </div>

          <div class="pt-3 pb-2"></div>
          <div class="col-5">
            <button class="btn btn-dark" type="submit" (click)="rateHost()">Rate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

