<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-11 rounded-4 bg-light ">
      <h1>Approve Reservations</h1>
      <div>
        <div class="row px-2">
          <div class="py-3 list-group">
            <app-reservation-list-tile [id]="'1'" class="pt-3 row list-group-item"></app-reservation-list-tile>
            <app-reservation-list-tile [id]="'2'" class="pt-3 row list-group-item"></app-reservation-list-tile>
            <app-reservation-list-tile [id]="'3'" class="pt-3 row list-group-item"></app-reservation-list-tile>
            <app-reservation-list-tile [id]="'4'" class="pt-3 row list-group-item"></app-reservation-list-tile>
            <app-reservation-list-tile [id]="'5'" class="pt-3  row list-group-item"></app-reservation-list-tile>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

