<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-10 rounded-4 bg-light ">
      <h1>My Reservations</h1>

      <div>
        <div class="row px-2">
          <div class="py-3 list-group">
            <div *ngFor="let res of reservations">
              <app-my-reservation-list-tile [reservation]="res" class="pt-3 row list-group-item"></app-my-reservation-list-tile>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

