<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-9 rounded-4 bg-light ">

      <div>
        <div class="row  px-2">
          <div class="pt-3 list-group">
            <app-stay-list-tile [isMyStays]="true" class="pt-3 row list-group-item"></app-stay-list-tile>
            <app-stay-list-tile [isMyStays]="true" class="pt-3 row list-group-item"></app-stay-list-tile>
            <app-stay-list-tile [isMyStays]="true" class="pt-3 row list-group-item"></app-stay-list-tile>
            <app-stay-list-tile [isMyStays]="true" class="pt-3 row list-group-item"></app-stay-list-tile>
            <app-stay-list-tile [isMyStays]="true" class="pt-3 row list-group-item"></app-stay-list-tile>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

