<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-9 rounded-4 bg-light">
      <div class="row">
        <h1 class="pb-3 col-10" style="font-size: 35px" >Edit profile<i class="fa-solid fa-edit px-1 "></i></h1>
        <div class="col-2"><button class="btn btn-danger" type="submit">Delete</button></div>
      </div>

      <div>
        <div class="row pt-3 px-2">

          <div class="col-6 pb-3">
            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="user.name">
          </div>
          <div class="col-6 pb-3">
          <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="user.surname">
          </div>
          <div class="col-6 pb-3">
            <input type="text" class="form-control" placeholder="Address" [(ngModel)]="user.address">
          </div>
          <div class="col-6 pb-3">
          </div>
          <div class="col-6 pb-3">
            <input type="text" class="form-control" email placeholder="Email" [(ngModel)]="user.mail">
          </div>

          <div class="col-6 pb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
          </div>
            <div class="pt-3 pb-2"></div>
          <div class="col-5">
            <button class="btn btn-dark" type="submit" (click)="editUser()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

