<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-9 rounded-4 bg-light ">
      <h1 class="pb-3" style="font-size: 35px" >Find your next stay</h1>
      <h4>Search low prices on hotels, homes and much more...</h4>
      <div>
        <div class="row pt-3 px-2">
          <div class="col-5 row">
            <mat-form-field class="example-full-width">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Where you want to go?" [(ngModel)]="searchStay.location">
            </mat-form-field>
          </div>
          <div class="col-2 row">
            <mat-form-field class="example-full-width">
              <mat-label>Guests</mat-label>
              <input matInput type="number" min="1" value="1" [(ngModel)]="searchStay.guests">
            </mat-form-field>
          </div>
          <div class="col-4">
            <div class="row">
              <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="startDate">
                  <input matStartDate placeholder="Start date" [(ngModel)]="searchStay.startDate" >
                  <input matEndDate placeholder="End date" [(ngModel)]="searchStay.endDate" >
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker ></mat-date-range-picker>
              </mat-form-field>
              </div>
          </div>

          <div class="col-1 pt-2">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" (click)="search()">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
          <div class="pt-3 list-group" >
            <div *ngFor="let stay of this.foundStays">
              <app-stay-list-tile [stay]="stay" [startDate]="searchStay.startDate" [endDate]="searchStay.endDate" [numberOfGuests]="searchStay.guests" [days]="days" [photo]="getPhoto(stay)" class="pt-3 row list-group-item"></app-stay-list-tile>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

