<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-3" href="#"><i class="fa-solid fa-book-bookmark px-2 " style="color: white"></i>Booking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Home</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/edit">Edit profile</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/create-stay/0">Create stay</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/my-stays">My stays</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/approve">Reservations</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/reservations">My Reservations</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/host-review">Host Review</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/stay-review">Stay Review</a>
    </div>
  </div>
  <a class="navbar-text nav-link mx-3" href="/" >
    Logout
  </a>
</nav>
